.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 12px;
  font-size: 14px;
}

.body {
  margin: 0;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: var(--font-mono);
}

.attributeList {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 24px;
  row-gap: 4px;
  margin: 0;
}

.attributeEntry {
  display: contents;
}

.attributeKey {
  opacity: 0.6;
}

.attributeValue {
  margin: 0;
  word-break: break-all;
}
